@font-face {
    font-family:DigitalDisplay;
    src:url(../font/digital-7.ttf);
}

html {}
body {
	overflow: hidden;
}

div.content {
	border:1px solid #000;
	width:280px;
	height:305px
}

div.display {
	margin:5px;
	padding:5px;
	min-height:33px;
	border:1px solid #000;
	background-color:#a1bba5;
	text-align:right;
	font-family:DigitalDisplay;
	font-size:25pt;
}

div.buttonRow{
	clear:both;/*left;*/
}

div.buttonContainer {
	float:left;
	padding:5px
}

button {
	width:60px;
	height:40px;
	font-size:20pt;
}

button.buttonWith2 {
	width:90px;
	height:30px
}

button.buttonHeight2 {
	width:40px;
	height:70px
}
